
}
table {
    table-layout: fixed;
}
tr {
    max-width: 100%;
}
td {
    width: 45%;
    word-wrap: break-word;
    font-family: monospace;
    padding-left: 3px;
    vertical-align: top;
    line-height: 1.3em;
    background-color: #F9F9F9;
}
table.edit-stats td {
    width: auto;
}
colgroup {
    border: 1px solid #BBB;
}
tbody {
    border-top: 20px solid white;
}
.diff_header, .diff_next {
    text-align: right;
    padding-right: 3px;
}

.diff_header {
    width: 35px;
    background-color: #eee;
}   
 .diff_next {
    padding-left: 20px;
    width: 20px;
    background-color: #fff;
}
.diff_add, .diff_chg {
    background-color: #ffb3b3;
}
pre {
    line-height: 1.3em;
    background-color: #F9F9F9;
    border: 1px solid #DDD;
    white-space: pre-wrap;
    padding: 1em;
}
li pre {
    width: 90%;
}   
.template_param {
    font-family: monospace;
    background-color:#F9F9F9;
    border: 1px solid #DDD;
    border-radius: 2px;
    padding: 1px 4px;
}
.template_param a {
    color: black;
    text-decoration: underline;
}
body {
    font-family: "Trebuchet MS",sans-serif;
    padding-left: 50px;
    padding-top: 10px;
}
#description {
	max-width: 500px;
}
.success {
    background-color: #77DD77;
    padding: 5px;
    border: 1px solid #888;
}
.edit {
    background-color: rgb(245, 95, 95);
    border: 1px solid #888;
    padding: 5px;
}
.diffcontainer {
    padding: 5px;
    margin: 5px;
    border: 1px solid gray;
}    
.addlink {
    font-size: 1.1em;
}
.loginsection {
    float: right;
    text-align: right;
    margin: 30px;
}



/* Wikipedia citations */
.wiki {
    font-size: 1.1em;
    color: #222222;
/*    font-family: sans-serif; */
}
.wiki cite {
    font-style: inherit;
}
.wiki .citation {
    word-wrap: break-word;
}
.wiki a.external {
    color: #36b;
}
.wiki .plainlinks a.external {
    background: none !important;
    padding: 0 !important;
}
.wiki .external {
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url(/w/skins/Vector/images/external-link-ltr-icon.png?325de);
    background-image: linear-gradient(transparent,transparent),url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%3E%3Cpath%20fill%3D%22%23fff%22%20stroke%3D%22%2306c%22%20d%3D%22M1.5%204.518h5.982V10.5H1.5z%22%2F%3E%3Cpath%20d%3D%22M5.765%201H11v5.39L9.427%207.937l-1.31-1.31L5.393%209.35l-2.69-2.688%202.81-2.808L4.2%202.544z%22%20fill%3D%22%2306f%22%2F%3E%3Cpath%20d%3D%22M9.995%202.004l.022%204.885L8.2%205.07%205.32%207.95%204.09%206.723l2.882-2.88-1.85-1.852z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E);
    background-image: -o-linear-gradient(transparent,transparent),url(/w/skins/Vector/images/external-link-ltr-icon.png?325de);
    padding-right: 13px;
}
.wiki a {
    text-decoration: none;
    color: #0645ad;
    background: none;
}
.wiki a:hover, .wiki a:focus {
    text-decoration: underline;
}

.wiki img {
    border: 0;
    vertical-align: middle;
}
.wiki p img {
    margin: 0;
}
.wiki .error {
    color: #c00;
}
.wiki code {
    color: #000;
    background-color: #f8f9fa;
    border: 1px solid #eaecf0;
    border-radius: 2px;
    padding: 1px 4px;
}
