<!doctype html>
<html>
    <head>
        <title>OAbot: {{ page_name }}</title>
        <link rel="stylesheet" href="{{ url_for('send_css', path='style.css') }}" />
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <p><a href="{{ url_for('index') }}">&#8592; Back</a></p>
        <br/>
        <div class="row">
            <form action="{{ url_for('process') }}" method="get">
                <div class="col-lg-3">
                <div class="input-group">
                    <input type="text" name="name" id="nameInput" value="{{ page_name }}" class="form-control" />
                    <span class="input-group-btn">
                        <input type="submit" value="Go" class="btn btn-default" />
                    </span>
                </div>
                </div>
            </form>
        </div>

        <h2>OAbot: <a href="https://en.wikipedia.org/wiki/{{ page_name }}">{{ page_name }}</a></h2>

        <p>
         <ol>
          <li>Is the original link closed access?</li>
          <li>Is the new link free to read?</li>
          <li>Do the two sources match?</li>
          <li>Is the new link a copyright infringement?</li>
         </ol>
        </p>
 
        {% if proposed_edits %}
        <h3>Citations</h3>
        <form id="edit-form" action="{{ url_for('perform_edit') }}" method="POST"> 
        <input type="hidden" name="name" value="{{ page_name }}" />
        <ol>

        {%  for template_edit in proposed_edits %}
            <li id="{{ template_edit.index +1 }}">
            <div class="wiki">{{ template_edit.orig_string|wikirender }}</div>
            <p>
                <input type="checkbox" name="{{ template_edit.orig_hash }}-addlink" value="checked" checked />
                <span class="addlink">Add link: <a href="{{ template_edit.proposed_link }}" target="_blank">{{ template_edit.proposed_link }}</a></span></p>
            <input type="hidden" size="100" name="{{ template_edit.orig_hash }}" value="{{ template_edit.proposed_change }}" />
            </li>
        {% endfor %}
        </ol>
           
        <h3>Actions</h3>
        <p>
        <span class="btn-group">
            <input type="button" onclick="window.location.href='{{ url_for('get_random_page') }}'" class="btn btn-danger" value="Skip" />
            <input type="button" onclick="preview()" value="Preview" class="btn btn-default" />
            <input class="btn btn-success" type="submit" value="Add link" />
        </span>
         with summary <input class="form-control" style="max-width:500px; display: inline" type="text" size="80" name="summary" value="Added free to read links in citations with [[WP:OABOT|OAbot]] #oabot" /></p>
        </form>
        <script type="text/javascript">
        function preview() {
            $.post(
                "{{ url_for('preview_edit') }}",
                $("#edit-form").serialize(),
                function(diff) {
                    $("#preview-diff").html(diff);
                });
        }
        </script>
        <div id="preview-diff">
        </div>

        {% else %}
        <p>No edit proposed for this page.</p>
        {% endif %}

        <p><a href="{{ url_for('index') }}">&#8592; Back</a></p>
    </body>
</html>

