<!doctype html>
<html>
    <head>
        <title>OAbot: {{ page_name }}</title>
        <link rel="stylesheet" href="{{ url_for('send_css', path='style.css') }}" />
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    </head>
    <body>
        <a href="{{ url_for('index') }}">&#8592; Back</a>
        <p>
            <form action="{{ url_for('process') }}" method="get">
                <label for="name">Page name: </label>
                <input type="text" name="name" id="nameInput" value="{{ page_name }}" />
                <input type="submit" value="Propose changes" />
            </form>
        </p>

        <h2>Results for page <a href="{{ url_for('process', name=page_name) }}">{{ page_name }}</a></h2>
        <p>Processed: {{ utcnow }} (<a href="{{ url_for('process', name=page_name, refresh='true') }}">refresh</a>)</p>

        <h3>Template details</h3>
        <form id="edit-form" action="{{ url_for('perform_edit') }}" method="POST"> 
        <input type="hidden" name="name" value="{{ page_name }}" />
        <ol>

        {%  for template_edit in proposed_edits %}
            {% if not template_edit.classification == 'ignored' %}
            <li id="{{ template_edit.index +1 }}">
            <pre>{{ template_edit.orig_string }}</pre>
            {% if template_edit.proposed_link %}
                <p>Proposed link: <a href="{{ template_edit.proposed_link }}">{{ template_edit.proposed_link }}</a></p>
            {% endif %}
            <p>Change: <input type="text" size="100" name="{{ template_edit.orig_hash }}" value="{{ template_edit.proposed_change }}" /></p>
            </li>
            {% endif %}
        {% endfor %}
        </ol>
        <p><span class="edit">
        <input type="submit" value="Perform edit" /> with summary <input type="text" size="50" name="summary" value="Added free to read links in citations" /></span></p>
        </form>
        <input type="button" onclick="preview()" value="Preview diff" />
        <script type="text/javascript">
        function preview() {
            $.post(
                "{{ url_for('preview_edit') }}",
                $("#edit-form").serialize(),
                function(diff) {
                    $("#preview-diff").html(diff);
                });
        }
        </script>
        <div id="preview-diff">
        </div>

        <p><a href="{{ url_for('index') }}">&#8592; Back</a></p>
        <p><a href="https://github.com/wetneb/oabot">Source code</a></p>
    </body>
</html>

