<!doctype html>
<html>
    <head>
        <title>OAbot</title>
        <link rel="stylesheet" href="{{ url_for('send_css', path='style.css') }}" />
    </head>
    <body>
        <h2>OAbot</h2>
        {% if success == 'true' %}
        <div class="success">
            Edit successfully performed
        </div>
        {% elif success == 'nothing' %}
        <div class="success">
            No edit was made
        </div>
        {% endif %}
        <p>
            <form action="{{ url_for('process') }}" method="get">
                <label for="name">Page name: </label>
                <input type="text" name="name" id="nameInput" />
                <input type="submit" value="See the proposed changes" />
            </form>
        </p>

        <p id="description">
        This scripts looks for open access versions of references in Wikipedia articles. If no URL is provided in the citation template, it adds one that points to an open access repository where the reference is available (if we can find one).
	<br /><br />
        
        For each article, you will be able to review
        the links proposed by the tool, and perform the edit
        with your Wikipedia account.</p>

        <p>
        <form action="{{ url_for('get_random_page') }}">
            <input type="submit" value="Start editing a random page!" />
        </form>
        </p>

	<p>
	<a href="https://en.wikipedia.org/w/index.php?title=Special:RecentChanges&tagfilter=OAuth+CID:+817">
	Edits recently performed with this tool</a>.
	</p>
    
        <p>{% if not username %}<a href="{{ url_for('login') }}">Login</a>{% else %}
	    Logged in as <a href="https://en.wikipedia.org/wiki/User:{{ username }}">{{ username }}</a>
	(<a href="{{ url_for('logout') }}">logout</a>).{% endif %}</p>

	<p><a href="https://github.com/dissemin/oabot">GitHub project</a> - 
           run by <a href="https://en.wikipedia.org/wiki/User_talk:Pintoch">Pintoch</a> - 
           brought to you by <a href="https://association.dissem.in/index.html.en">CAPSH</a> -
           hosted on <a href="https://tools.wmflabs.org/">WMF Tool Labs</a>
	 </p>
    </body>
</html>

