<!doctype html>
<html>
    <head>
        <title>OAbot: OABOT_PAGE_NAME</title>
        <link rel="stylesheet" href="OABOT_APP_MOUNT_POINT/css/style.css" />
    </head>
    <body>
        <a href="OABOT_APP_MOUNT_POINT/">&#8592; Back</a>
        <p>
            <form action="OABOT_APP_MOUNT_POINT/process" method="get">
                <label for="name">Page name: </label>
                <input type="text" name="name" id="nameInput" value="OABOT_PAGE_NAME" />
                <input type="submit" value="Process" />
            </form>
        </p>


        OABOT_BODY_GOES_HERE

        <p><a href="OABOT_APP_MOUNT_POINT/">&#8592; Back</a></p>
        <p><a href="https://github.com/wetneb/oabot">Source code</a></p>
    </body>
</html>
