<!doctype html>
<html>
    <head>
        <title>OAbot</title>
        <link rel="stylesheet" href="{{ url_for('send_css', path='style.css') }}" />
        <link rel="stylesheet" href="{{ url_for('send_css', path='bootstrap.min.css') }}" />
    </head>
    <body>
        <p class="loginsection">{% if username %}
	    Logged in as <a href="https://en.wikipedia.org/wiki/User:{{ username }}">{{ username }}</a>
	(<a href="{{ url_for('logout') }}">logout</a>).{% endif %}</p>


        <h2><a href="{{ url_for('index') }}">OAbot</a>: leaderboard</h2>

        <p>Total number of edits made with OAbot: {{ total_edits }}</p>

        <table>
          <tr>
              <th>User</th>
              <th>Number of edits</th>
          </tr>
         {% for record in leaderboard %}
          <tr>
              <td><a href="https://en.wikipedia.org/wiki/User:{{ record.user_name }}">{{ record.user_name }}</a></td>
              <td>{{ record.nb_edits }}</td>
          </tr>
          {% endfor %}
         </table>

       <br />

        <br />
	
        <br/><br/>
    
	<p><center><a href="https://github.com/dissemin/oabot">Code on GitHub</a> - 
	   	 <a href="https://phabricator.wikimedia.org/maniphest/task/edit/form/1/?projects=OABot">Bugs on Phabricator</a> - 
           	<a href="https://en.wikipedia.org/wiki/User_talk:Pintoch">Run by Pintoch</a> - 
           	<a href="https://association.dissem.in/index.html.en">A CAPSH project</a> -
		<a href="https://tools.wmflabs.org/">Hosted on WMF Tool Labs</a></center>
	 </p>
	    
	<p><center>
	<a href="https://en.wikipedia.org/w/index.php?title=Special:RecentChanges&tagfilter=OAuth+CID:+817">
	 Recent edits made with OAbot</a></center>
	</p>
    </body>
</html>

